@charset "UTF-8";
/* CSS Document */

body{
font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
color: white;
background-color: #3b3352;
}

#screen {
	background-image: url("images/space.gif");
	width:800px;
	height: 600px;
	margin: auto;
}