@charset "UTF-8";
/* CSS Document */

body{
font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
font-size: 19px;
color: white;
background-color: #3b3352;
text-align: center;
}

#screen {	
	background-image: url("images/space.gif");
	background-size: 1180px 885px;
	width:1180px;
	height: 885px;
	margin: auto;
	margin-bottom: 10px;
	margin-top: 10px;
	border: ridge;
	border-radius: 25px;
}

#btn1, #btn2{
	width: 50%;
	font-size: 24px;
	border-radius: 25px;
	
}

#storyline {
	font-size: 30px;
}